<div class="trip-card" style="height: 150px">
  <%= cl_image_tag trip.photo, crop: :fill, class:'trip-card-img' %>
  <div class="card-img-overlay">
    <center><h2><%= trip.name%></h2></center>
    <center><p><%= trip.start_date%></p></center>
  </div>
</div>

