<center><h2 class="title">Trips</h2></center>

<div id="tabs" class="trips-container">
  <div>
    <ul class="nav nav-tabs">
      <li class="active"><a  href="#1" data-toggle="tab" class="trips-button-blue">Current trips</a></li>
      <li><a href="#2" data-toggle="tab" class="trips-button-blue">Upcoming trips</a></li>
      <li><a href="#3" data-toggle="tab" class="trips-button-blue">Past trips</a></li>
    </ul>
  </div>

  <div class="tab-content trips-time-container">
    <div class="tab-pane active" id="1">
      <% if @current_trips.any? %>
        <% @current_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
          <center><h2 class="trip-card">You're not on a trip right now! Why don't you plan one?</h2></center>
      <% end %>
    </div>
    <div class="tab-pane" id="2">
      <% if @future_trips.any? %>
        <% @future_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
        <center><h2 class="trip-card">You don't have any upcoming trips! Feel like planning one?</h2></center>
      <% end %>
    </div>
    <div class="tab-pane" id="3">
      <% if @past_trips.any? %>
        <% @past_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
        <center><h2 class="trip-card">We don't have any records of your past trips!</h2></center>
      <% end %>
    </div>
  </div>
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
