<center><h2>Trips</h2></center>

<div id="tabs" class="items-container">

  <ul class="nav nav-tabs">
    <li class="active"><a  href="#1" data-toggle="tab" class="light-button">Current trips</a></li>
    <li><a href="#2" data-toggle="tab" class="light-button">Upcoming trips</a></li>
    <li><a href="#3" data-toggle="tab" class="light-button">Past trips</a></li>
  </ul>

  <div class="tab-content d-flex">
    <div class="tab-pane active" id="1">
      <% if @current_trips.any? %>
        <% @current_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
        <center><h2>You're not on a trip right now! Plan one ;)</h2></center>
      <% end %>
    </div>
    <div class="tab-pane" id="2">
      <% if @future_trips.any? %>
        <% @future_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
        <center><h2>You don't have any upcoming trips! Plan one ;)</h2></center>
      <% end %>
    </div>
    <div class="tab-pane" id="3">
      <% if @past_trips.any? %>
        <% @past_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
        <center><h2>You don't have any past trips! Plan one ;)</h2></center>
      <% end %>
    </div>
  </div>
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
