// Define variables for your color scheme

// Our color scheme - colorhunt palette:

$black: #222831;
$dark-gray: #393E46;
$turquoise: #00ADB5;
$light-gray: #EEEEEE;


$brown: #442120;
$cream: #F0E9D7;
$pink: #FCBEC6;
$salmon: #EAA186;
$red: #DB4833;
$yellow: #E9B023;
$blue: #FDB7AC;


// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
