
.home-title {
  color: #5770B6;
  text-shadow: 2px 2px;
}

.home-carousel {
  box-shadow: 1px 1px 30px $white;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 8px;
}

.carousel-container {
  height: 65vh;
  display: flow-root;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  background-color: $cream;
  border-radius: 8px;
}

.carousel-item img {
  height: 75vh;
  opacity: .3;
}

.carousel-item h1 {
  font-size: 80px;
  color: $brown;
  padding-bottom: 20px;
  padding-top: 20px;
  text-shadow: 1px 1px 3px $cream;
}

.carousel-item h2 {
  font-size: 35px;
  padding-left: 20px;
  color: $brown;
  text-shadow: 3px 3px 3px $cream;
}

.carousel-item h5 {
  font-size: 28px;
  color: $brown;
  padding-top: 20px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 3px $cream;
}

.carousel-item p {
  font-size: 18px;
  color: $brown;
  text-shadow: 3px 3px 3px $cream;
}


.carousel-item {
  border-radius: 8px;
}

.uphill img {
  image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/12ecfd82757349.5d27223e250b4.jpg')
}

.downhill img {
  image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/32695182757349.5d27223e245ed.jpg')
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 16%;
  bottom: none !important;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $cream !important;
  opacity: 1;
  text-align: left !important;
}
