
.home-title {
  color: #5770B6;
  text-shadow: 2px 2px;
}

.home-carousel {
  box-shadow: 1px 1px 30px $white;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 8px;
  opacity: .9;
}

.carousel-container {
  height: 65vh;
  display: flow-root;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  background-color: $white;
  border-radius: 8px;
  img {
    object-fit: cover;
  }
}

.carousel-item {
  border-radius: 8px;
}

.uphill img {
  image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/12ecfd82757349.5d27223e250b4.jpg')
}

.downhill img {
  image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/32695182757349.5d27223e245ed.jpg')
}
