
.home-title {
  color: #5770B6;
  text-shadow: 2px 2px;
}

.home_center {
  text-align: center;
}


.product-features h3 {
  font-weight: bold;
  font-size: 24px;
  color: $brown;
}

.product-features p {
  color: $brown;
  font-size: 18px;
}
