<div class="footer d-flex justify-content-between">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <a class="hover-underline-animation" href="#">Privacy Policy</a>
    <a class="hover-underline-animation" href="#">Terms of Use</a>
    <a class="hover-underline-animation" href="#">FAQ</a>
  </div>
</div>
