  <div style="height: 100vh">
    <!-- BODY -->
    <% if user_signed_in? %>
      <div>
        <p>Welcome back, <%= User.name %>. </p>
        <p>Home:</p>
        <p>Where you are:</p>
        <p>Weather</p>
        <p>Upcoming trip</p>
      </div>
    <% else %>
      <div class="container-fluid">
        <h1 class="text-center mb-3">TRAVVA</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner w-100 mx-auto">
            <div class="carousel-item active">
              <div class="card">
                <img class="card-img-top img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bef92c62029585.5a827e09ba8e5.jpg" alt="Card image cap">
                <div class="card-body intro-card">
                  <h4 class="card-title">Card 1</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img class="card-img-top img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bef92c62029585.5a827e09ba8e5.jpg" alt="Card image cap">
                <div class="card-body intro-card">
                  <h4 class="card-title">Card 2</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img class="card-img-top img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bef92c62029585.5a827e09ba8e5.jpg" alt="Card image cap">
                <div class="card-body intro-card">
                  <h4 class="card-title">Card 3</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img class="card-img-top img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bef92c62029585.5a827e09ba8e5.jpg" alt="Card image cap">
                <div class="card-body intro-card">
                  <h4 class="card-title">Card 4</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img class="card-img-top img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bef92c62029585.5a827e09ba8e5.jpg" alt="Card image cap">
                <div class="card-body intro-card">
                  <h4 class="card-title">Card 5</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img class="card-img-top img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bef92c62029585.5a827e09ba8e5.jpg" alt="Card image cap">
                <div class="card-body intro-card">
                  <h4 class="card-title">Card 6</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card">
                <img class="card-img-top img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/bef92c62029585.5a827e09ba8e5.jpg" alt="Card image cap">
                <div class="card-body intro-card">
                  <h4 class="card-title">Card 7</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
