<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="card">
<div class="wrap-image">
    <svg viewBox="-2.93 488.5 604.753 113.677" preserveAspectRatio="none"></svg>
      <path d=" M 0 560 Q 118.192 471.782 310 560 Q 495.161 645.161 600 520 L 600 600 L 0 600 L 0 560 Z ">
</div>
<div class="contents">
  <h3> Lorem Ipsum Dolor sit amet</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
</div>
</div>
