<!-- Modal -->
<div class="modal fade" id="card-item-modal-<%= result['id'] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-border" role="document">
    <div class="modal-content" style="border-radius: 4px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= result["name"] %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex">
        <div class="modal-body">
          <p><%= result["snippet"] %></p>
        </div>
        <div class="m-2 p-2">
          <p><%= image_tag result['images'][0]['sizes']['medium']['url'], height: 300, width: 400, crop: :fit %></p>
          </div>
      </div>
    </div>
  </div>
</div>
