<div class="container">
  <div class="row">
    <%
=begin%>
 <!-- For Country Filter -->
    <%= simple_form_for :country_search, url: items_path, method:'GET', html: {class: 'form-inline'}  do |f| %>
        <div class="form-group mb-2 mx-2">
            <%= f.input :country, collection: Item::COUNTRY, input_html: {class: 'form-control'}, required: false, selected: @country, include_blank: 'All' %>
        </div>
        <div class="form-group">
          <%= f.submit "Search", class: "btn btn-primary mb-2 mx-2" %>
         </div>
    <% end %>
<%
=end%>
  </div>
  <div class="row">
    <div class="col-2">
      <!-- For Category Filter -->
    </div>
    <div class="col-10">
          <div class="cards-item">
            <% @items.each do |item| %>
              <%= render 'items/card', item: item %>
            <% end %>
          </div>
        </div>
      </div>
    </div>









