.body-background {
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  background-position: center;
  height: 1200px;
  width: 100%;
  background-color: $cream;
  position: relative;
}

.home-body-background {
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  background-position: center;
  height: 900px;
  top: 100px;
  width: 100%;
  background-color: $cream;
}

.body-background img {
  opacity: 0.5;
}
