.body-background {
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  background-position: center;
  height: 1200px;
}

.home-body-background {
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  background-position: center;
  height: 900px;
  top: 100px;
}

