.body-home {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/b7982f82757349.5d27223e252a9.jpg');
}

.body-items {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/351e2574848179.5d0ce461c0370.jpg');
}

.body-user-login {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/b9a82b66198081.5b55d6395db11.jpg');
}

.body-itinerary {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/238de574848179.5d0ce461c06b3.jpg');
}

.body-else {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/54ef2f74848179.5c3c805f5f639.jpg');
}

.body-background {
  background-size: cover;
  background-attachment: scroll;
  min-height: 100vh;
}

