.turquoise-button {
  color: $brown;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $cream;
  transition: background 0.1s ease;
  border: 1px solid $cream;

   &:hover{
    background: $brown;
    color: $cream;
    border-color: $brown;
    text-decoration: none;
  }
}

.dark-gray-button {
  color: $turquoise;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $dark-gray;
  transition: background 0.3s ease;
  border: 1px solid $dark-gray;

   &:hover{
    background: $turquoise;
    color: $light-gray;
    text-decoration: none;
  }
}
