.light-button {
  color: $brown;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  background: $cream;
  transition: background 0.1s ease;
  border: 1px solid $cream;

   &:hover{
    background: $brown;
    color: $cream;
    border-color: $brown;
    text-decoration: none;
  }

  &.active {
    background: $brown;
    color: $cream;
    border-color: $brown;
    text-decoration: none;
  }
}


.dark-button {
  color: $cream;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  background: $brown;
  transition: background 0.1s ease;
  border: 1px solid $brown;

   &:hover{
    background: $cream;
    color: $brown;
    border-color: $brown;
    text-decoration: none;
  }
}

.trips-button-red {
  color: $cream;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  background: $red;
  transition: background 0.1s ease;
  border: 1px solid $red;

   &:hover{
    background: $cream;
    color: $red;
    border-color: $red;
    text-decoration: none;
  }
}

.trips-button-blue {
  color: $blue;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  background: $cream;
  transition: background 0.1s ease;
  border: 1px solid $cream;

   &:hover{
    background: $blue;
    color: $cream;
    border-color: $blue;
    text-decoration: none;
  }
}

.trips-button-green {
  color: $cream;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  background: $green;
  transition: background 0.1s ease;
  border: 1px solid $green;

   &:hover{
    background: $cream;
    color: $green;
    border-color: $green;
    text-decoration: none;
  }
}
