// Added by sriram

.suggestions-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.suggestion-card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.product-features {
  background-color: $white;
  padding-bottom: 20px;
}

.float33 h3 {
  padding-bottom: 20px;
}

.card-picture {
  opacity: 0.8;
}

.review-card {
    border: solid 40px #F0E9D7;
    background-color: #F0E9D7;
    border-radius: 120px;
    margin-right: 10px;
}
