.food {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/549cb261905755.5ad3f4f65ed40.jpg');
}


.culture {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/7d862d66198081.5b0e02485999c.jpg');
}

.history {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/072da766198081.5b0e00bc4d866.jpg');
}

.shopping {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/5042d947426335.5887b2a1717ee.jpg');
}

.sport {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/11ce3d81895205.5d0ce35d4deba.jpg');
}

.flights {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/5f8cb481895205.5d0ce35d4cf89.jpg');
}

.relax {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/c7ef0f81895205.5d271f44e605b.jpg');
}

.restaurant {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/97cdd774848179.5c3c805f5f143.jpg');
}

.romance {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/a9303474848179.5c3c805f5f89e.jpg');
}

.adventure {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/54ef2f74848179.5c3c805f5f639.jpg');
}

.nightlife {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9e383d66198081.5b8d193a09399.jpg');
}

.theatre {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/351e2574848179.5d0ce461c0370.jpg');
}

.museum {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/86521174848179.5d0ce461bff6c.jpg');
}

.music {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/a7096e74848179.5c3c805f5ee76.jpg');
}
