
.big-container {
  align-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
}

.items-container {
  overflow: scroll;
  align-items: center;
  height: 100vh;
  border-radius: 4px;
  flex: 3;
  height: 850px;
}

.small-cards-container {
  flex: 3;
}
.map-container-show-page {
  flex: 2;
}

.trips-container {
  align-items: center;
  margin-right: 20vw;
  margin-left: 20vw;
  height: 100vh;
  border-radius: 4px;
  height: 900px;
}


.trips-time-container {
  border: none;
  overflow: scroll;
  height: 100vh;
  border-radius: 4px;
  height: 800px;
  width: 100%;
}

.override_col {
  max-width: 100% !important;
}

.nav-tabs {
  border-bottom: none;
}


.trip-country-container {
  overflow: scroll;
  align-items: center;
  height: 200px;
  border-radius: 4px;
}
