.dark-dropdown {
 color: $brown;
 border: none;
 padding: 0px 40px;
 font-weight: bold;
 opacity: 0.8;
 transition: opacity 0.3s ease;
 margin: auto;
 background: $cream;
 border-radius: 4px !important;
 margin-bottom: 10px !important;
}

.dark-dropdown-days {
 color: $brown;
 border: none;
 padding: 0px 30%;
 font-weight: bold;
 opacity: 0.8;
 transition: opacity 0.3s ease;
 margin: auto;
 background: $cream;
 margin-top: 5px;
 margin-bottom: 10px !important;
 border-radius: 4px !important;
}

.dark-category{
 color: $brown;
 border: none;
 font-weight: bold;
 opacity: 0.6;
 transition: ease;
 margin: auto;
 background: $cream;
 margin-left: 36px;
}

.dark-dropdown label {
  opacity: 1;
  font-size: 15px;
}

.dark-dropdown option {
  opacity: 1;
}

.dark-dropdown-days label {
  opacity: 1;
  font-size: 15px;
}

.dark-dropdown-days option {
  opacity: 1;
}


.dark-category:hover {
  opacity: 1;
  color: $cream;
  background: $brown;
}

