.footer {
  background-color: rgba($white, .8);
  height: 10vh;
  width: 100%;
  align-items: center;
  padding: 22px;
  position:absolute;
  bottom: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $red;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color:$brown;
}

.footer-copyright {
  color: $brown;
  text-decoration: none;
  font-size: 16px;
}

.footer-copyright a {
  color: $brown;
  text-decoration: none;
  padding: 0px 10px;
}

.footer-copyright a:hover {
  opacity: 1;
  color: $salmon;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $brown;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $brown;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
