.cards-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-item {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-item {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-item {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-picture {
  width: 100%;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-body {
  padding: 0px;
}

.card-index {
  border: solid 8px $cream;
  background-color: $cream;
  border-radius: 4px;
}

.card-index .card-body-item {
  position: relative;
}

.card-body-item .card-item-rating {
  position: absolute;
  right: 24px;
  top: -188px;
}

.card-left {
  padding-left: 24px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  color: $brown;
}

.card-right {
  text-align: right;
  color: $brown;
  font-size: 12px;
  font-style: italic;
  color: $brown;
  padding-right: 24px;
}

.fas {
  color: $yellow;
}

.far {
  color: $yellow;
}

.card-index {
  &:hover{
    cursor: pointer;
  }
}








