.cards-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-item {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-item {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-item {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-picture {
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0px;
}

.card-index .card-body-item {
  position: relative;
}

.card-body-item .card-item-rating {
  position: absolute;
  right: 24px;
  top: -188px;
}

.card-left {
  padding-left: 2px;
  text-align: left;
}


.card-right .card-item-category{
  text-align: right;
}

.card-left p {
  font-weight: bold;
  font-size: 18px;
  color: $dark-gray;
}

.card-right p {
  color: $turquoise;
}









