.introreview {
  padding: 10px;
  margin: 10px;
}

.introreview h1 {
  padding: 10px;
  margin: 15px;
}

.introreview h3 {
  padding: 10px;
  margin: 15px;
}

.introreview p {
  background-color: $brown;
  margin-right: 33px;
  margin-left: 33px;
  text-align: center;
  color: $cream;
}


.name-review {
  color: $brown;
  font-weight: bold;
}
