.review-card {
  border: solid 40px transparent;
  background-color: rgba($cream, .9);
  border-radius: 120px;
  margin-right: 154px;
  margin-left: 154px;
}

.intro-review p {
  margin: 30px 0 60px 0;

}

.intro-review h1 {
 margin-bottom: 25px;
}

.trip-review-date {
  font-weight: bold;
  text-align: left;
  background-color: rgba($blue, .7);
  padding: 1px 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.trip-review-infos {
margin-bottom: 25px;
}










