.intro-review {
  padding: 10px;
  margin: 10px;
}

.intro-review h1 {
  padding: 10px;
  margin: 15px;
}

.intro-review h3 {
  padding: 10px;
  margin: 15px;
}

.intro-review p {
  background-color: $brown;
  margin-right: 33px;
  margin-left: 33px;
  text-align: center;
  color: $cream;
}

.trip-review-infos {

}
