
.title {
  padding: 50px;
  font-size: 50px;
  color: $brown;
  text-shadow: 3px 3px 3px $cream;
  font-weight: bold;
}


.title-bucket {
  padding: 20px;
  font-size: 50px;
  color: $brown;
  text-shadow: 3px 3px 3px $cream;
  font-weight: bold;
}
