
.title {
  padding: 50px;
  font-size: 50px;
  color: $brown;
  text-shadow: 3px 3px 3px $cream;
  font-weight: bold;
}


.title-bucket {
  padding: 20px;
  font-size: 50px;
  color: $brown;
  text-shadow: 3px 3px 3px $cream;
  font-weight: bold;
}

.home_center h1 {
  font-weight: bold;
  font-size: 100px;
  color: $brown;
  padding-top: 85px;
}

.home_center h2 {
  color: $brown;
}
