.no-trip-card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $cream;
  background-clip: border-box;
  border-radius: 4px;
  margin-top: 40px;
  padding: 25px;
}

.no-trip-card h2 {
  opacity: 1px;
}

.trip-card {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $cream;
  background-clip: border-box;
  border-radius: 4px;
  margin-top: 20px;
  padding: 15px;
  padding-left: 290px;
}

.trip-card h2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  color: $brown;
  padding: 18px;
  padding-bottom: 10px;
  font-size: 24px;
}


.trip-card p {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  color: $brown;
  font-size: 14px;
  text-shadow: 3px 3px 7px rgba($cream, 1);
  font-weight: bold;
  padding-bottom: 10px;
}

.trip-card img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  opacity: 0.9;
}

.trip-card a {
  text-decoration: none;
}

.card-img-overlay {
  position: absolute;
  top: -25px;
  left: 0;
  padding: 1.25rem;
  width: 300px;
  transition: all 0.5s;
}
