.trip-card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $cream;
  background-clip: border-box;
  border-radius: 4px;
  padding: 25px;
  opacity: .8;
}

.trip-card h2 {
  opacity: 1px;
}
